/* @import url(https://fonts.googleapis.com/css?family=Karla); */

body {
  font-family: 'Droid Serif',serif;
   text-align: center;
   font-size: 22px;
   /* padding-top: 100px; */
  background-color: #ffffff;
  color: #292929;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cursor {
    animation: blink 0.7s infinite;
}